# IDE
.idea/
*.properties

# Gradle
!gradle*.properties

# Environment
*.env
!.env

# Configuration
application.*.conf
!application.conf

# Database
*.db

# Security
*.jks

# Build
build/
out/
.gradle/

# Deployment
docker-compose.*.yml
